<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="../img/logo-tab.jpg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" type="text/css" rel="stylesheet" />
    <script src="./main.js" type="text/javascript" async></script>
    <link rel="stylesheet" href="../wow/animate.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Virtual VKU</title>
  </head>

  <body>
    <div>
      <div
        class="root font-Karla max-w-screen-2xl text-base mx-auto md:px-8 bg-white font-medium"
      >
        <!-- Header -->
        <div
          class="header py-6 mx-auto fixed top-0 bg-white left-0 right-0 z-50 shadow-xl"
        >
          <div class="nav flex flex-row justify-between items-center relative">
            <div
              class="logo basic-2/6 text-center text-3xl cursor-pointer px-7 lg:px-24"
            >
              <a class="flex flex-col justify-center items-center" href="/">
                <div class="font-semibold text-lime-500">Virtual</div>
                <div class="flex flex-row">
                  <div class="uppercase font-black text-red-600">v</div>
                  <div class="uppercase font-black text-yellow-400">k</div>
                  <div class="uppercase font-black text-blue-600">u</div>
                </div>
              </a>
            </div>

            <!-- navigation -->

            <ul
              id="nav-menu"
              class="hidden basis-3/6 lg:flex lg:justify-end lg:gap-9 uppercase text-sm text-gray-500"
            >
              <li class="top-menu-item top-menu-item-active">
                <a href="/">home</a>
              </li>
              <li id="digitial-map" class="top-menu-item relative group">
                <span>digital map <i class="fa-solid fa-angle-down"></i></span>
                <div
                  id="selection"
                  class="suv-menu absolute shadow-xl bg-white w-[130px] top-9 hidden group-hover:block"
                >
                  <ul class="mx-3">
                    <li class="top-menu-item text-gray-500">
                      <a href="/2Dmap/">2D Map</a>
                    </li>
                    <li class="top-menu-item text-gray-500">
                      <a href="/3DMap/">3D Map</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="top-menu-item">
                <a href="/group/">club&groups</a>
              </li>
              <li class="top-menu-item">
                <a href="/contests/">contests</a>
              </li>
              <li class="top-menu-item">
                <a href="/contact/">contact</a>
              </li>
              <!-- <li class="top-menu-item top-menu-item-active">
                            <a href="https://github.com/dangnha" target="blank">dangnha</a>
                        </li> -->
            </ul>

            <!-- User -->
            <div id="user" class="basis-2/6 lg:basis-1/6 hover:cursor-pointer">
              <div
                class="md:ml-9 ml-11 user max-w-[44px] h-11 bg-[url(./img/user.jpg)] bg-cover bg-no-repeat bg-center rounded-full relative"
              >
                <div
                  id="user-interface"
                  class="hidden w-[180px] h-[150px] bg-white absolute top-12 shadow-inner"
                >
                  <div class="px-3 py-3">
                    <span class="text-sm font-normal"> Dang Nha </span>
                    <span class="text-sm font-medium">
                      nhand.21it@vku.udn.vn
                    </span>
                  </div>
                  <hr />
                  <div class="text-sm font-normal">
                    <div
                      class="text-sm px-3 py-2 font-normal hover:bg-slate-200"
                    >
                      <span>settings</span>
                    </div>
                    <div
                      class="logout px-3 py-2 flex gap-1 items-center hover:bg-slate-200"
                    >
                      <a href="/login/"><span>sign out</span></a>
                      <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Menu hidden -->
            <div
              class="menu-hidden p-3 basis-1/6 lg:hidden md:px-5 flex items-center cursor-pointer"
            >
              <svg
                id="nav-menu-toggle"
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </div>
          </div>
        </div>

        <!-- Body page -->
        <div id="body-page" class="mt-[150px] mb-[120px] flex flex-row gap-20">
          <div class="text-black font-semibold flex flex-col gap-3">
            <div class="basis-[40%]">
              <img
                class="object-cover w-[400px] h-[400px] rounded-full"
                src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/320935744_5506417392803368_4952738920705325237_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=101&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=DFTaI7aK4xgAX8p_JHZ&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfCm-j4zWLXOjs-8ee6Ajj41fNjugdxTbUO_M2j8gdpwqw&oe=63A65DE4"
                alt=""
              />
            </div>

            <div
              class="py-2 border-2 text-center border-solid border-green-600"
            >
              Edit profile
            </div>
            <div>Your blog: <%- x.length%></div>
          </div>
          <div class="basis-[60%] flex flex-col gap-8">
            <div class="flex flex-row gap-3">
              <input
                class="basis-[80%] py-2 px-2 focus:outline-none border-solid border-2 border-green-500 rounded-md"
                type="text"
                placeholder="Your Blog"
              />
              <button class="basis-[20%] py-2 text-white bg-black">
                <a href="">New</a>
              </button>
            </div>
            <div class="grid grid-cols-2">
              <div class="blogItem w-full md:basis-1/2 px-4">
                <div class="max-w-[370px] mx-auto mb-10">
                  <div
                    class="rounded overflow-hidden hover:animate-pulse hover\:cursor-pointer mb-8 md:min-h-[265px] min-h-[200px] min-w-[285px] md:min-w-[350px] bg-[url(./img/com-sprcc.jpg)] bg-cover bg-no-repeat bg-center"
                  ></div>
                  <div>
                    <span
                      class="bg-[#00CC99] rounded inline-block text-center py-1 px-4 text-xs leading-loose font-semibold text-white mb-5"
                    >
                      <%=y.createUpdate%>
                    </span>
                    <h3>
                      <a
                        href="javascript:void(0)"
                        class="font-semibold text-xl sm:text-2xl lg:text-xl xl:text-2xl mb-4 inline-block text-dark hover:text-[#00CC99]"
                      >
                        <%=y.description%>
                      </a>
                    </h3>
                    <p class="text-base text-body-color"><%=y.content%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer -->

        <div class="footer w-full h-[350px] bg-white wow">
          <hr class="mb-6" />
          <div
            class="flex md:flex-row flex-col lg:gap-28 gap-8 xl:w-[65%] w-90% mx-auto"
          >
            <div class="basis-5/7 flex flex-col">
              <div class="text-xl mb-4 font-bold text-center lg:text-left">
                Vietnam Korea University of information and communication
                technology
              </div>
              <div
                class="text-sm mb-12 text-gray-500 opacity-90 text-center lg:text-left"
              >
                <i class="fa-solid fa-location-dot"></i>
                <span class="pl-1"
                  >470 Đường Trần Đại Nghĩa, Hoà Hải, Ngũ Hành Sơn, Đà
                  Nẵng.</span
                >
              </div>
              <div
                class="text-sm text-center lg:text-left mb-4 text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                University in Vietnam
              </div>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                MENU
              </div>
              <ul class="flex flex-col gap-2">
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/">Home</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/2Dmap">Digital Map</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/group">Club&Groups</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/contests">Contests</a>
                </li>
                <li
                  class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
                >
                  <a href="/contact/">Contact</a>
                </li>
              </ul>
            </div>
            <div class="basis-1/7 text-sm text-gray-400">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-2"
              >
                units
              </div>
              <ul class="flex flex-col justify-center items-center">
                <li class="max-h-[150px] max-w-[150px]">
                  <a href="https://vku.udn.vn/" target="blank"
                    ><img src="./img/logo-tab.jpg" alt=""
                  /></a>
                </li>
                <li class="">
                  <div
                    class="logo basic-2/6 text-center text-3xl cursor-pointer"
                  >
                    <a
                      class="flex flex-col justify-center items-center"
                      href="/"
                    >
                      <div class="font-semibold text-lime-500">Virtual</div>
                      <div class="flex flex-row">
                        <div class="uppercase font-black text-red-600">v</div>
                        <div class="uppercase font-black text-yellow-400">
                          k
                        </div>
                        <div class="uppercase font-black text-blue-600">u</div>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="basis-1/7">
              <div
                class="uppercase text-sm text-center lg:text-left text-gray-600 mb-4"
              >
                CONTACT US
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400 mb-4"
              >
                We’re Always Happy to Help
              </div>
              <div
                class="text-xl text-center lg:text-left text-black leading-7 hover:text-lime-400 mb-16"
              >
                <a href="">nhand.21it@vku.udn.vn</a>
              </div>
              <div
                class="text-sm text-center lg:text-left text-gray-500 opacity-90 leading-7 hover:text-lime-400"
              >
                Powered by Pencil group
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./wow/wow.min.js" type="text/javascript"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
