<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="../img/logo-tab.jpg" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../output.css" type="text/css" rel="stylesheet" />
    <script src="../main.js" type="text/javascript" async></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <script src=""></script>
    <title>Virtual VKU</title>
  </head>

  <body>
    <div>
      <button class="button-5" role="button">Button 5</button>
    </div>
  </body>
</html>
